{% extends "one_column_body.html" %}
    {% block content %}
        {% if view_user.bch_address %}
            <div id="qrcode" style="width:200px; height:200px; margin-top;15px"></div>
            <p>{{view_user.username}}'s BCH address is: {{view_user.bch_address}}</p>
            <p id="transaction_notification" style="color:red"></p>
        {% else %}
            <p>User {{view_user.username}}, didn't enter any BCH address in the profile.</p>
        {% endif %}
    {% endblock %}

    {% block endjs %}
        {% block compress %}
            <script type="text/javascript" src="{{ 'jslib/qrcode.min.js'|media }}"></script>
        {% endblock %}
        <script type="text/javascript">
            //QRCode generation
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width: 200,
                height: 200
             });
             qrcode.makeCode("{{view_user.bch_address}}");
        </script>
        <script type="text/javascript">
            //New transaction check
            var unconfirmedBalance = null
            var totalReceived = null
            function checkTransaction(){
                $.ajax({
                      url: "https://rest.bitcoin.com/v2/address/details/{{view_user.bch_address}}",
                      success: function(result){
                            console.log("checking for new transaction...")
                            if (unconfirmedBalance == null && totalReceived == null){
                                unconfirmedBalance = result.unconfirmedBalance;
                                totalReceived = result.totalReceived
                            }
                            else {
                                if (totalReceived < result.totalReceived){
                                    // new confirmed transaction
                                    $('#transaction_notification').text("new confirmed transaction");
                                    totalReceived = result.totalReceived
                                }
                                else if (unconfirmedBalance < result.unconfirmedBalance){
                                    // new unconfirmed transaction
                                    $('#transaction_notification').text("new unconfirmed transaction");
                                    unconfirmedBalance = result.unconfirmedBalance
                                }
                            }
                        }
                     });
                }
                checkTransaction();
                window.setInterval(checkTransaction, 20000);
        </script>
    {% endblock %}

