{% extends "base.html" %}
{% block title %}
    Accept Offer
{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" href="{{ '/vex/css/vex.css'| media }}" />
    <link rel="stylesheet" href="{{ '/vex/css/vex-theme-os.css'| media }}" />
{% endblock %}
{% block body %}
    {{ object }}
    <form id="accept-offer-form" method="POST" action="#">
        {{ csrf_input }}
        {{form}}
        <button type="submit">submit</button>
    </form>
{% endblock %}
{% block endjs %}
    <script src="{{ '/vex/js/vex.combined.min.js'| media }}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <script src="{{ '/js/contract/accept_offer.js'| media }}"></script>
{% endblock %}