{% extends "base.html" %}
{% block title %}
    Contract List
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Employee</th>
                <th>Employer</th>
                <th>State</th>
                <th>Show Details</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in object_list %}
                <tr {% if contract.state == "dispute" %}style="color: red;"{% endif %}>
                    <td>{{contract.contract_title}}</td>
                    <td>{{contract.amount}}</td>
                    <td>{{contract.maker}}</td>
                    <td>{{contract.taker}}</td>
                    <td>{{contract.state}}</td>
                    <td>
                        <a href="{{ url('contract_details',  contract.pk ) }}">
                            <button>Show Details</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
