{% extends "base.html" %}
{% block title %}
    Contract Detail
{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" href="{{ '/vex/css/vex.css'| media }}" />
    <link rel="stylesheet" href="{{ '/vex/css/vex-theme-os.css'| media }}" />
{% endblock %}
{% block body %}
<!-- details view -->
    {% if contract %}
        <p>
            <p><strong>Contract Title:</strong> {{contract.contract_title}}</p>
            <p><strong>Offer amount:</strong> {{contract.amount}}</p>
            {% if request.user.is_staff %}
                <p><strong>Employer:</strong> {{contract.maker}}</p>
                <p><strong>Employee:</strong> {{contract.taker}}</p>
            {% else %}
                <p>
                    <strong>Partner:</strong>
                    {% if request.user == contract.maker %}
                        {{contract.taker}}
                    {% elif request.user == contract.taker %}
                        {{contract.maker}}
                    {% endif %}
                </p>
            {% endif %}
        </p>
        {% if contract.state == "offer_made" %}
            {% if request.user == contract.maker %}
                <p>
                    Please send {{contract.amount}} BCH to the address below and then press the "Escrow Funded" button:
                    <div id="qrcode" style="width:200px; height:200px; margin-top;15px"></div>
                    <br>Address: {{contract.escrow_address}}?amount={{contract.amount}}&message="QA contract {{object.pk}}"
                </p>
                <a href="{{ url('escrow_funded',  contract.pk ) }}"><button>Escrow Funded</button></a>
            {% elif request.user == contract.taker %}
                <p>
                    <strong style="color: red;">Please wait while {{contract.maker}} funds the escrow.</strong>
                </p>
                <p id="offer-accepted-balance-message">
                </p>
            {% endif %}
        {% endif %}
        {% if contract.state == "offer_denied" %}
            {% if request.user == contract.maker %}
                <p>
                    <strong style="color: red;">Unfortunately {{contract.taker}} has turned down your offer.</strong>
                </p>
            {% elif request.user == contract.taker %}
                <p>
                    <strong style="color: red;">You turned down {{contract.maker}}'s offer.</strong>
                </p>
            {% endif %}
        {% endif %}
        {% if contract.state == "escrow_funded" %}
            <a href="{{ url('release_escrow',  contract.pk ) }}">
                <button>
                    {% if request.user == contract.maker %}
                        Release Escrow
                    {% elif request.user == contract.taker %}
                        Refund Escrow
                    {% endif %}
                </button>
            </a>
            <p id="escrow-funded-balance-message">
            </p>
            <a href="{{ url('open_dispute',  contract.pk ) }}"><button>Open Dispute</button></a>
        {% endif %}
        {% if contract.state == "escrow_released" %}
            <p>
                <strong>
                    Contract is Done.
                </strong>
            </p>
            {% if request.user == contract.taker %}
                <button onclick="withdraw()">Withdraw Funds</button>
            {% endif %}
        {% endif %}
        {% if contract.state == "dispute" %}
            {% if request.user.is_staff %}
                <a href="{{ url('handle_dispute',  contract.pk ) }}"><button>Handle Dispute</button></a>
            {% else %}
                <p>
                    <strong style="color: red;">Please wait while a judge handles the dispute.</strong>
                </p>
            {% endif %}
        {% endif %}
        {% if contract.state == "escrow_released_by_judge" %}
            <p>
                <strong style="color: red;">Escrow released by judge to {{contract.dispute_winner}}</strong>
                <br><strong>Judges rule:</strong> {{contract.judge_dispute_rule}}
            </p>
            {% if request.user == contract.dispute_winner %}
                <button onclick="withdraw()">Withdraw Funds</button>
            {% endif %}
        {% endif %}

        {% if request.user == contract.maker or request.user.is_staff %}
            <a href="{{ url ('messages_compose_to', contract.taker.username) }}" target="_blank">
                <button>Message {{contract.taker.username}}</button>
            </a>
        {% endif %}
        {% if request.user == contract.taker or request.user.is_staff %}
            <a href="{{ url ('messages_compose_to', contract.maker.username) }}" target="_blank">
                <button>Message {{contract.maker.username}}</button>
            </a>
        {% endif %}

    {% endif %}
{% endblock %}

{% block endjs %}
    {% block compress %}
        <script type="text/javascript" src="{{ 'jslib/qrcode.min.js'|media }}"></script>
    {% endblock %}
    <script type="text/javascript">
        //QRCode generation
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 200,
            height: 200
         });
         qrcode.makeCode('{{contract.escrow_address}}?amount={{contract.amount}}&message="QA contract {{object.pk}}"');
    </script>
    <script src="{{ '/vex/js/vex.combined.min.js'| media }}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <script src="{{ '/js/contract/contract_details.js'| media }}"></script>
    <script>
        {% if request.user == contract.maker %}
            var isMaker = true;
            var isTaker = false;
            var priv_key = "{{ contract.employer_priv_key }}";
        {% elif request.user == contract.taker %}
            var isMaker = false;
            var isTaker = true;
            var priv_key = "{{ contract.employee_priv_key }}";
        {% endif %}

        var contract = {
            escrow_address: "{{ contract.escrow_address }}",
            judgeSignature: "{{ contract.judgeSignature }}",
            priv_key: priv_key,
            judge_pub_key: "{{ contract.judge_pub_key }}",
            employer_pub_key: "{{ contract.employer_pub_key }}",
            employee_pub_key: "{{ contract.employee_pub_key }}",
            amount: "{{ contract.amount * 10**8}}",
            state: "{{ contract.state }}",
            withdraw_address: "{{request.user.bch_address}}",
        };

        var broadcastUrl = "{{ request.scheme + '://' + request.META['HTTP_HOST'] + url('broadcast') }}";

        var contract_details_script = new contractDetailsScript(contract, isMaker, isTaker, broadcastUrl);

        function withdraw(){
            contract_details_script.withdraw();
        }
    </script>
{% endblock %}
