{% for contract in object_list %}
    {{contract}}
    <a href="{{ url('contract_details',  contract.pk ) }}">details</a>
    <a href="{{ url('accept_offer',  contract.pk ) }}">accept/deny offer</a>
    <a href="{{ url('escrow_funded',  contract.pk ) }}">escrow funded - CONVERT TO AJAX</a>
    <a href="{{ url('release_escrow',  contract.pk ) }}">release/refund escrow</a>
    <a href="{{ url('open_dispute',  contract.pk ) }}">open dispute</a>
    <strong>withdraw_funds_all_JS!</strong>
    <br>
{% endfor %}

<!-- details view -->
{% if contract %}
    {{contract}}
    <a href="{{ url('accept_offer',  contract.pk ) }}">accept/deny offer</a>
    <a href="{{ url('escrow_funded',  contract.pk ) }}">escrow funded - CONVERT TO AJAX</a>
    <a href="{{ url('release_escrow',  contract.pk ) }}">release/refund escrow</a>
    <a href="{{ url('open_dispute',  contract.pk ) }}">open dispute</a>
    <strong>withdraw_funds_all_JS!</strong>

{% endif %}
