{% extends "base.html" %}
{% block title %}
    Create Offer
{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" href="{{ '/vex/css/vex.css'| media }}" />
    <link rel="stylesheet" href="{{ '/vex/css/vex-theme-os.css'| media }}" />
{% endblock %}
{% block body %}
    <p>
        <strong>Contract Amount:</strong>  {{answer.amount}}
    </p>
    <p>
        <strong>Contract Duration:</strong> {{answer.duration}} days
    </p>
    <p>
        <strong>Contract Title:</strong> {{answer.thread.title}}
    </p>
    <p>
        <strong>Contract Partner:</strong> {{answer.author}}
    </p>
    <form method="POST" id="create-offer-form" action="#">
        {{ csrf_input }}
        {{form}}
        <button type="submit">Create Contract</button>
    </form>
{% endblock %}
{% block endjs %}
    <script src="{{ '/vex/js/vex.combined.min.js'| media }}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <script src="{{ '/js/contract/create_offer.js'| media }}"></script>
{% endblock %}
