{% extends "base.html" %}
{% block title %}
    Fund Escrow
{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" href="{{ '/vex/css/vex.css'| media }}" />
    <link rel="stylesheet" href="{{ '/vex/css/vex-theme-os.css'| media }}" />
{% endblock %}
{% block body %}
    {{ object }}
    <p>
        Please send {{contract.amount}} satoshies to the address below and then press the submit button:
        <div id="qrcode" style="width:200px; height:200px; margin-top;15px"></div>
        <br>Address: {{contract.escrow_address}}
    </p>
    <form method="POST" action="#">
        {{ csrf_input }}
        {{form}}
        <button type="submit">submit</button>
    </form>
{% endblock %}
{% block endjs %}
        {% block compress %}
            <script type="text/javascript" src="{{ 'jslib/qrcode.min.js'|media }}"></script>
        {% endblock %}
        <script type="text/javascript">
            //QRCode generation
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width: 200,
                height: 200
             });
             qrcode.makeCode("{{contract.escrow_address}}?amount={{contract.amount}}&message=escrow");
        </script>
{% endblock %}
