{% extends "django_messages/base.html" %}

{% block body %}
    <h1>{% trans %}Inbox{% endtrans %}</h1>
    {% if message_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Sender{% endtrans %}</th>
                    <th>{% trans %}Subject{% endtrans %}</th>
                    <th>{% trans %}Received{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list.filter(parent_msg=None) %}
                    <tr>
                        <td>{{ message.sender }}</td>
                        <td>
                            {% if message.new %}<strong>{% endif %}
                            {% if message.replied %}<em>{% endif %}
                            <a href="{{ message.get_absolute_url() }}">{{ message.subject }}</a>
                            {% if message.replied %}</em>{% endif %}
                            {% if message.new %}</strong>{% endif %}
                        </td>
                        <td>{{ message.sent_at}}</td>
                    </tr>
                {% endfor %}
                {% set rendered_msg = [] %}
                {% for message in message_list.filter(parent_msg__sender=request.user) %}
                    {% if message.parent_msg.parent_msg == None and message.sender != request.user %}
                        {% if message.parent_msg.id not in rendered_msg %}
                            {{ rendered_msg.append(message.parent_msg.id) }}
                            <tr>
                                <td>{{ message.sender }}</td>
                                <td>
                                    {% if message.new %}<strong>{% endif %}
                                    {% if message.replied %}<em>{% endif %}
                                    <a href="{{ message.parent_msg.get_absolute_url() }}">{{ message.subject }}</a>
                                    {% if message.replied %}</em>{% endif %}
                                    {% if message.new %}</strong>{% endif %}
                                </td>
                                <td>{{ message.sent_at}}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans %}No messages.{% endtrans %}</p>
    {% endif %}
{% endblock %}
