{% extends "django_messages/base.html" %}

{% block body %}
    {% macro thread(root) %}
        {% if root.sender == request.user %}
            <div class="row">
                <div class="alert alert-success pull-right" style="display: inline-block;">
                    <div><strong>{{ root.sender }}</strong><br>{{ root.sent_at.ctime()}}</div>
                    <p>{{ root.body }}</p>
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="alert alert-info pull-left" style="display: inline-block;">
                    <div><strong>{{ root.sender }}</strong><br>{{ root.sent_at.ctime()}}</div>
                    <p>{{ root.body }}</p>
                </div>
            </div>
        {% endif %}
        {% for message in root.next_messages.all().order_by('sent_at') %}
            {{ thread(message) }}
        {% endfor %}
    {% endmacro %}

    {{ thread(message) }}

    {% if not message.parent_msg %}
        {% set reply_message = message %}
    {% else %}
        {% set reply_message = message.parent_msg %}
    {% endif %}
    <div class="row">
        <a class="button large" href="{{ url ('messages_reply', reply_message.id) }}">{% trans %}Reply message{% endtrans %}</a>
    </div>
{% endblock %}
