{% extends "django_messages/base.html" %}

{% block body %}
    {% macro thread(root) %}
		<table class="table">
		    <thead>
		        <tr>
		            <th>{% trans %}Subject{% endtrans %}</th>
		            <th>{% trans %}Sender{% endtrans %}</th>
		            <th>{% trans %}Date{% endtrans %} </th>
		            <th>{% trans %}Recipient{% endtrans %}</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td><strong>{{ root.subject }}</strong></td>
		            <td>{{ root.sender }}</td>
		            <td>{{ root.sent_at}}</td>
		            <td>{{ root.recipient }}</td>
		        </tr>
		    </tbody>
		</table>
		<table class="table">
		    <thead>
		        <tr>
		            <th>{% trans %}Message{% endtrans %}</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>
		                {{ root.body|linebreaks }}
		            </td>
		        </tr>
		    </tbody>
		</table>
		<!--{% if root.recipient.pk == user.pk %}
		        <a class="button" href="{{ url ('messages_reply', root.id) }}">{% trans %}Reply message{% endtrans %}</a>
		{% endif %}
		<a class="button" href="{{ url ('messages_delete', root.id) }}">{% trans %}Delete message{% endtrans %}</a> -->
        {% for message in root.next_messages.all().order_by('sent_at') %}
            {{ thread(message) }}
        {% endfor %}
    {% endmacro %}

    {{ thread(message) }}

    {% if not message.parent_msg %}
        {% set reply_message = message %}
    {% else %}
        {% set reply_message = message.parent_msg %}
    {% endif %}
    <a class="button" href="{{ url ('messages_reply', reply_message.id) }}">{% trans %}Reply message{% endtrans %}</a>
{% endblock %}
