{% extends "postman/base.html" %}

{% block body %}
    <div id="postman">
        <h1>{% block pm_folder_title %}{% endblock %}</h1>
        {% block pm_by_modes %}
            <div id="pm_byModes">
                <span class="pm_by-mode">{% if by_message %}<a href="{{ by_conversation_url }}">{% endif %}{% trans %}by conversation{% endtrans %}{% if by_message %}</a>{% endif %}</span>
                <span class="pm_by-mode">{% if by_conversation %}<a href="{{ by_message_url }}">{% endif %}{% trans %}by message{% endtrans %}{% if by_conversation %}</a>{% endif %}</span>
            </div>
        {% endblock pm_by_modes %}
        <form action="{% block pm_form_action %}{% endblock %}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            {% block pm_form_buttons %}
                <span id="pm_buttons">
                    <a href="{{ url ('postman:sent') }}">
                        <button type="button">{% trans %}Sent Messages{% endtrans %}</button>
                    </a>
                    {% block pm_undelete_button %}<button type="submit" class="pm_btn pm_btn-undelete" onclick="this.form.action='{{ url('postman:undelete') }}'">{% trans %}Undelete{% endtrans %}</button>{% endblock %}
                    {% block pm_read_button %}<button type="submit" class="pm_btn pm_btn-read" onclick="this.form.action='{{ url('postman:mark-read') }}'">{% trans %}Mark as read{% endtrans %}</button>{% endblock %}
                    {% block pm_unread_button %}<button type="submit" class="pm_btn pm_btn-unread" onclick="this.form.action='{{ url('postman:mark-unread') }}'">{% trans %}Mark as unread{% endtrans %}</button>{% endblock %}
                </span>
            {% endblock %}
            <table id="pm_messages" class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Action{% endtrans %}</th>
                        <th><a href="">{% trans %}Sender{% endtrans %}</a></th>
                        <th><a href="">{% trans %}Recipient{% endtrans %}</a></th>
                        <th><a href="">{% trans %}Date{% endtrans %}</a></th>
                        <th><a href="">{% trans %}View Thread{% endtrans %}</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in pm_messages %}
                        <tr>
                            <td>
                                <input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
                            </td>
                            <td>
                                {{ message.obfuscated_sender }}{% if message.count %} ({{ message.count }}){% endif %}
                            </td>
                            <td>
                                {{ message.obfuscated_recipient }}{% if message.count %} ({{ message.count }}){% endif %}
                            </td>
                            <td>
                                {{ message.sent_at.date() }}
                            </td>
                            <td>
                                <a href="{% if by_conversation and message.thread_id %}{{ url('postman:view_conversation', message.thread_id) }}{% else %}{{ url('postman:view', message.pk) }}{% endif %}?next={{ current_url|urlencode }}">
                                {% trans %}Open{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% if pm_messages.count() == 0 %}
            <p>{% trans %}No messages.{% endtrans %}</p>
        {% endif %}

        {% block pm_footer_info %}{% endblock %}
    </div>
{% endblock body %}
